* {
    box-sizing: border-box;
}
:root {
    --min-width: 1150px;
}
body {
    background: #F5F5F5;
}

.header-banner {
    width: 100%;
    min-width: 1150px;
    min-width: var(--min-width);
    height: auto;
}

.header-banner img {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
}

.footer-div {
    width: 100%;
    min-width: 1150px;
    min-width: var(--min-width);
    height: auto;
    background: #306d31;
}

.footer-div .footer-link {
    width: 1150px;
    height: 40px;
    margin: 0 auto;
}

.footer-div .footer-link >div {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 40px;
    cursor: pointer;
    
}
.footer-div .footer-link .link-content {
    position: absolute;
    bottom: 40px;
    left: 0;
    display: none;
    width: 640px;
    height: auto;
    max-height: 500px;
    overflow-y: auto;
    padding: 20px;
    background: #FFF;
    box-shadow: 1px 0 5px #E1E1E1;
}
.footer-div .footer-link >div:hover .link-content {
    display: block;
}
.footer-div .footer-link .link-content >a {
    display: inline-block;
    width: 190px;
    height: auto;
    margin-right: 5px;
    margin-bottom: 10px;
    text-align: left;
    vertical-align: middle;
}
.footer-div .footer-link .link-content>a:nth-child(3n) {
    margin-right: 0;
}

.footer-div .footer-link>div >p {
    width: 100%;
    height: 100%;
    color: #FFF;
    margin: 0;
    line-height: 40px;
}
.footer-main {
    width: 100%;
    height: auto;
    background: #1b5d1b;
}
.footer {
    width: 1150px;
    width: var(--min-width);
    height: 163px;
    overflow: hidden;
    margin: 0 auto;
}

.foot_left {
    width: 23%;
    float: left;
    padding: 50px 0;
}

.foot_left a {
    display: block;
    float: left;
    height: 43px;
    width: 17.2%;
    margin: 0 16% 0 0;
}

.foot_left a img {
    /*width: 100%;*/
    height: 43px;
}

.foot_cet {
    width: 53.8%;
    float: left;
    text-align: center;
    color: #fff;
    font-size: 12px;
    line-height: 25px;
    padding: 22px 0;
}

.foot_cet >a {
    color: #FFF;
}

.foot_right {
    width: 23%;
    float: right;
    padding: 44px 0;
    text-align: right;
}

.foot_right span {
    display: inline-block;
}

.foot_right span.foot_img01 {
    width: 17.3%;
    margin: 0 26% 0 0;
    cursor: pointer;
}
.foot_right span.foot_img02 {
    margin:0;
    border:0;
    cursor: pointer;
}

.foot_right span #_ideConac {
    width: 17.3%;
    margin: 0 26% 0 0;
}

.foot_right span.foot_img02 {
    width: 42.3%;
}

.foot_right span img {
    /* width: 100%;*/
    height: 55px;
}

.layout {
    width: 1150px;
    width: var(--min-width);
    margin: 0 auto;
    padding-bottom: 60px;
}

.div-title {
    margin: 50px auto 0;
    font-size: 30px;
    font-weight: bold;
    color: #333333;
    letter-spacing: 0;
    text-align: center;
}
.div-divider {
    display: block;
    margin: 15px auto 25px;
}
.process-step {
    width: 100%;
    height: 130px;
}
.process-step .process-item {
    display: inline-block;
    width: 280px;
    height: 130px;
    vertical-align: middle;
    padding: 20px 80px 60px 20px;
    margin-right: 5px;
}
.process-step .process-item p {
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #000;
    font-weight: bold;
    text-align: justify;
}
.process-step .process-item:nth-child(4n) {
    margin-right: 0;
}
.process-step .process-item:nth-child(1) {
    background: url('../img/001.png') 100% 100% no-repeat;
}
.process-step .process-item:nth-child(2) {
    background: url('../img/002.png') 100% 100% no-repeat;
}
.process-step .process-item:nth-child(3) {
    background: url('../img/003.png') 100% 100% no-repeat;
}
.process-step .process-item:nth-child(4) {
    background: url('../img/004.png') 100% 100% no-repeat;
}


.grid-block {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

.grid-block .drop-menu{
    top: 82%;
    left: 50%;
    margin-left: -80px;
}

@media (max-width: 760px){
    .grid-block.nav-navicon, .grid-block.nav.nav-navicon {
     display: block;
    }
}

@media (min-width: 760px){
    .grid-block.nav-inline.nav-menu ul {
        top: 82%;
        left: 50%;
        margin-left: -80px;
    }
}

.grid-block .block-item {
    display: inline-block;
    width: 280px;
    height: 280px;
    vertical-align: middle;
    padding: 200px 20px 10px 20px;
    margin: 0 5px 20px 0;
}
.grid-block .block-item p {
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 22px;
    color: #000;
    text-align: center;
}
.grid-block .block-item:nth-child(4n) {
    margin-right: 0;
}
.grid-block .block-item:nth-child(1) {
    background: url('../img/005.png') 100% 100% no-repeat;
}

.grid-block .block-item:nth-child(2) {
    background: url('../img/006.png') 100% 100% no-repeat;
}

.grid-block .block-item:nth-child(3) {
    background: url('../img/007.png') 100% 100% no-repeat;
}

.grid-block .block-item:nth-child(4) {
    background: url('../img/008.png') 100% 100% no-repeat;
}
.grid-block .block-item:nth-child(5) {
    background: url('../img/009.png') 100% 100% no-repeat;
}
.grid-block .block-item:nth-child(6) {
    background: url('../img/010.png') 100% 100% no-repeat;
}
.grid-block .block-item:nth-child(7) {
    background: url('../img/011.png') 100% 100% no-repeat;
}
.grid-block .block-item:nth-child(8) {
    background: url('../img/012.png') 100% 100% no-repeat;
}

.article-div {
    width: 100%;
    height: auto;
}

.article-div >div {
    display: inline-block;
    width: 560px;
}
.article-div >div .article-banner {
    width: 100%;
    height: 150px;
    padding: 45px 20px 45px 90px;
}
.article-div>div .article-banner p {
    color: #FFF;
    
}
.article-div>div .article-banner p:first-child {
    font-size: 26px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.article-div>div .article-banner p:last-child {
    font-size: 22px;
    opacity: .4;
    margin-bottom: 0;
}
.article-div>div .article-preview {
    display: block;
    width: 100%;
    height: auto;
    padding: 30px;
    background: #FFF;
    cursor: pointer;
    border-bottom: 1px dashed #DDD;
}

.article-div>div .article-preview p:first-child {
    color: #000;
    font-size: 24px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.article-div>div .article-preview p:last-child {
    font-size: 14px;
    opacity: .4;
    margin-bottom: 0;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.article-div .left-article {
    margin-right: 20px;
}
.article-div .left-article .article-banner {
    background: url('../img/013.png') 100% 100% no-repeat;
}

.article-div .right-article .article-banner {
    background: url('../img/014.png') 100% 100% no-repeat;
}

.article-list {
    width: 100%;
    height: 340px;
    padding: 30px;
    background: #FFF;
    overflow: hidden;

}

.article-list p {
    width: 100%;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    margin-bottom: 5px;
}

.article-list p i {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    background: rgb(49,193,168);
}

.article-list p a {
    display: inline-block;
    width: 390px;
    height: 30px;
    padding-left: 5px;
}

.article-list p span {
    display: inline-block;
    width: 90px;
    text-align: right;
    color: #999;
}




.navigation {
    width: 100%;
    height: 40px;
    line-height: 40px;
}
.navigation a {
    font-size: 14px;
    color: #333;
}
.work-detail {
    width: 100%;
    height: auto;
    padding: 30px 40px 50px;
    background: #FFF;
}
.work-detail .work-list >img {
    width: 300px;
    margin-bottom: 30px;
}
.work-list {
    height: auto;
}
.work-list p {
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin-bottom: 15px;
    font-size: 18px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    
}

.work-list p i {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    background: rgb(49,193,168);
}

.work-list p a {
    display: inline-block;
    width: calc(100% - 150px);
    height: 30px;
    padding-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.work-list p span {
    display: inline-block;
    width: 90px;
    text-align: right;
    color: #999;
    margin: 0 10px;
}

.work-pagination {
    width: 100%;
    height: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    background: #EEE;
}
.work-pagination >div {
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0 20px;
}
.work-pagination >div a {
    margin: 0 5px;
}
.work-pagination >div a.active {
    color: #0a8;
}
.work-pagination >a {
    margin: 0 10px;
}

.article-container {
    width: 100%;
    height: auto;
    padding: 80px 80px 100px;
    background: #FFF;
}

.article-container .article-title {
    width: 50%;
    margin: 0 auto;
    font-size: 32px;
    line-height: 1.35;
    font-weight: bold;
    text-align: center;
}
.article-container .article-info {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #EEE;
    margin: 30px 0 20px;
    text-align: center;
}
.article-container .article-info span {
    margin: 0 20px;
}
.article-container .article-content {
    text-indent: 2em;
}
.article-container .article-content p {
    font-size: 16px;
    line-height: 1.5;
    margin: 30px;
    text-align: justify;
}
.article-container .article-content img {
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin: 20px auto;
}

.article-footer {
    width: 100%;
    height: auto;
    padding: 10px 20px;
    margin-top: 100px;
    background: #EEE;
}
.article-footer a {
    display: block;
    margin: 10px;
}
.article-footer a:hover {
    color: #0a8;
}

.topic-title {
    position: relative;
    width: 100%;
    height: 80px;
    line-height: 80px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    background: #FFF;
}
.topic-title i {
    position: absolute;
    left: calc(50% - 40px);
    bottom: 0;
    display: block;
    width: 80px;
    height: 4px;
    border-radius: 2px;
    background: #0a8;
}

.layout .topic-title {
    background: transparent;
}

.topic-container {
    margin: 50px 0 0;
}
.topic-container .topic-content {
    width: 100%;
    height: 400px;
    display: -ms-flexbox;
    display: flex;
    padding: 40px;
    background: #FFF;
}
.topic-container .topic-content .topic-img {
    display: inline-block;
    width: 40%;
    height: 100%;
}
.topic-container .topic-content .topic-img img {
    width: 100%;
    height: 100%;
}
.topic-container .topic-content .topic-list {
    display: inline-block;
    width: 60%;
    height: 100%;
    padding: 5px 0 5px 20px;
    overflow-x: hidden;
    overflow-y: auto;
}
.topic-container .topic-content .topic-list p {
    width: 100%;
    height: 32px;
    line-height: 32px;
    font-size: 18px;
    margin: 6px 0;
    display: -ms-flexbox;
    display: flex;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-align: center;
        align-items: center;
}
.topic-container .topic-content .topic-list p i {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    background: rgb(49,193,168);
    margin-right: 15px;
}
.topic-container .topic-content .topic-list p span {
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    display: inline-block;
    width: 90px;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.topic-container .topic-content .topic-list p a {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    display: inline-block;
    width: clac(100% - 100px);
    color: #0a8;
}